<h2>Registro</h2>

<div style="color:red;" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<div>
  <label>Username:</label>
  <input type="text" [(ngModel)]="username" placeholder="Username" />
</div>

<div>
  <label>Email:</label>
  <input type="email" [(ngModel)]="email" placeholder="Email" />
</div>

<div>
  <label>Password:</label>
  <input type="password" [(ngModel)]="password" placeholder="Password" />
</div>

<button (click)="onRegister()">Registrar</button>

<p>¿Ya tienes cuenta?
  <a routerLink="/login">Inicia sesión</a>
</p>
