<div class="login-box">
  <div class="logo-container">
    <img class="logo" src="/assets/img/zyro-image.png" alt="logo">
  </div>
  <br />
  <h2>Iniciar Sesión</h2>
  <br />
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <form [formGroup]="formLogin" (ngSubmit)="onLogin()" novalidate>

    <!-- Campo de Usuario -->
    <div class="user-box">
      <input
        type="text"
        formControlName="usernameOrEmail"
        required
        [ngClass]="{'is-invalid': submite && f['usernameOrEmail'].invalid}"
      />
      <label>Usuario</label>
      <div *ngIf="submite && f['usernameOrEmail'].errors" class="invalid-feedback">
        <div *ngIf="f['usernameOrEmail'].errors?.['required']">
          El usuario o correo es obligatorio.
        </div>
      </div>
    </div>

    <!-- Campo de Contraseña -->
    <div class="user-box">
      <input
        type="password"
        formControlName="password"
        required
        [ngClass]="{'is-invalid': submite && f['password'].invalid}"
      />
      <label>Contraseña</label>
      <div *ngIf="submite && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors?.['required']">
          La contraseña es obligatoria.
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="submit" (click)="onLogin()">Ingresar</button>
    </div>
  </form>

  <p class="register-link">
    ¿No tienes cuenta?
    <a class="estiloa" (click)="goToRegister()">Regístrate aquí</a>
  </p>
</div>
