<div class="container-fluid mb-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="diseng" style="margin-top: 40px;">
          <h1 class="titulo mb-6">Bienvenido <small class="p">a la plataforma de listado de firmas | Plussigner</small></h1>
          <p>
            Esta es una plataforma que permite la gestión segura de documentos con firmas digitales. Ofrece un acceso seguro a través de un login con usuario y contraseña. Además, cuenta con un módulo de listado de firmas que consulta una tabla de trazabilidad, permitiendo registrar y visualizar el historial de firmas. Este sistema proporciona un contador general por cada registro de trazabilidad, garantizando un control preciso y transparente del proceso de firma digital.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
          <img src="assets/img/bienvenido.png" class="image-responsive" width="250" height="300">
        </div>
      </div>
    </div>
  </div>
</div>
